/* Note: CSS are applied from top to bottom. Last rule wins. */
/* Method 1: External CSS Part 3 */
.external-css  {
    color: #038c7f; /* Teal text color */
    background-color: #01403a; /* Dark teal background color */
}
/* Resetting some default styles using multiple selectors seperated by commas */
body, h1, h2, p, ul, li, {
    margin: 0; /* Removing the default margin */
    padding: 0; /* Removing the default padding */
    font-family: Arial, Helvetica, sans-serif; /* Setting the default font */
}